body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 form{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 input{
     width: 20rem;
     height: 2rem;
 }

 select{
     width: 20rem;
     height: 2rem;

 }

 .cm{
     color: #fff;
 }